.wrap {
    max-width: 1468px;
    margin: auto;
  }
  
  .ourstory {
    margin-top: 60px;
    margin-bottom: 89px;
    background-color: var(--color-darkgreen);
    color: #fff;
  }
  
  .ourstory .left img {
    max-width: 678px;
  }
  
  .ourstory .right {
    padding: 48px 42px 26px 52px;
  }
  
  .ourstory .right .sec_tit {
    font-size: 48px;
    font-weight: bold;
    font-family: var(--secondary-font);
    margin-bottom: 4px;
  }
  
  .ourstory .right p {
    font-family: var(--third-font);
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
  }
  
  .ourgoal .content .item {
    width: calc(50% - 20px);
    box-sizing: border-box;
    background-color: var(--color-green);
    color: #fff;
    margin-bottom: 75px;
  }
  
  .ourgoal .content .item img {
    width: 100%;
  }
  
  .ourgoal .content .item .text_box {
    padding: 97px 82px;
  
  }
  
  .ourgoal .item_tit {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 30px;
    line-height: 60px;
    font-family: var(--secondary-font);
  }
  
  .ourgoal .text_box p {
    font-family: var(--third-font);
    line-height: 40px;
    font-size: 32px;
  }
  
  .m_btn {
    display: block;
    width: fit-content;
    color: #fff;
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 700;
    background-color: var(--color-green);
    padding: 14px 97px;
    border-radius: 9999px;
    border: 3px solid var(--color-orange);
    margin: 45px auto 218px;
    line-height: 40px;
  }

  .m_btn:hover {
    background-color: var(--color-orange); 
    color: #fff; 
    cursor: pointer; 
  }

  br.mob {
    display: none;
  }
  
  @media screen and (max-width: 1200px) {
    .wrap {
      max-width: 746px;
    }
  
    .ourstory>div {
      flex-direction: column;
    }
  
    .ourstory .left img {
      width: 100%;
      max-width: unset;
    }
  
    .ourgoal .content .item {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    br.mob {
      display: block;
    }
  
    .wrap {
      max-width: unset;
      width: 100%;
    }
  
    .ourstory {
      margin: 0;
    }
  
    .ourstory .right {
      padding: 30px 26px 52px;
    }
  
    .ourstory .right .sec_tit {
      font-size: 32px;
      margin-bottom: 24px;
    }
  
    .ourstory .right p {
      font-size: 20px;
      line-height: 25px;
    }
  
    .ourgoal .content .item {
      margin-bottom: 0;
    }
  
    .ourgoal .content .item .text_box {
      padding: 35px 19px;
    }
  
    .ourgoal .item_tit {
      font-size: 32px;
      margin-bottom: 0;
    }
  
    .ourgoal .text_box p {
      font-size: 20px;
      line-height: 25px;
    }
  
    .m_btn {
      display: none;
    }
  }