:root {
    --base-font: "Gantari", sans-serif;
    --secondary-font: "Dosis", sans-serif;
    --third-font: "Familjen Grotesk", sans-serif;
    --color-yellow: #FFCB3B;
    --color-darkgreen: #275923;
    --color-green: #73A730;
    --color-orange: #F16702;
    --color-ivory: #FFFBEE;
  }
  
  html {
    scroll-padding-top: 188px;
    font-family: var(--base-font);
  }
  
  a {
    text-decoration: none;
  }
  
  header {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: var(--color-yellow);
  }
  
  header nav a{
    color: var(--color-darkgreen);
    font-size: 48px;
    font-family: var(--secondary-font);
    font-weight: 700;
  }

  .home-item {
    margin-top: 23px; 
    padding-left: 15px; 
  }
  
  .home-item a {
    color: var(--color-darkgreen);
    text-decoration: none;
  }
  
  .ms-4.home-item a:hover {
    background-color: var(--color-green); 
    color: #fff; 
    cursor: pointer; 
    border-radius: 9999px;
    border: 3px solid var(--color-orange);
    padding: 10px 20px;
  }
  
  header nav .dropdown-menu a {
    color: var(--color-orange); 
    font-size: 24px; 
    background: #fff; 
    border: none; 
    padding: 10px 20px; 
  }
  
  
  .btn {
    background-color: var(--color-yellow); 
    color: var(--color-darkgreen);
    font-size: 48px; 
    padding: 10px 20px; 
    border-radius: 9999px; 
    border: none; 
    font-family: var(--secondary-font);
    font-weight: 700;
  }
  
  .btn:hover {
    background-color: var(--color-green); 
    color: white; 
    border: 3px solid var(--color-orange);
  }
  
  .btn-secondary.dropdown-toggle:focus,
  .btn-secondary.dropdown-toggle[aria-expanded="true"] {
    background-color: var(--color-yellow);
    color: #fff; 
    border: color 0;
  }
  
  .btn-secondary.dropdown-toggle::after {
    color: var(--color-darkgreen); 
  }
  
  p {
    margin: 0;
  }
  
  header {
    margin-bottom: 188px;
  }
  
  nav {
    background-color: var(--color-yellow);
  }
  
  .logo {
    width: 146px;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("../images/toggler-icon.svg");
    width: 66px;
    height: 2rem;
  }
  
  .offcanvas {
    background-color: var(--color-darkgreen);
    text-align: end;
    margin-top: 188px;
    max-width: 60%;
  }
  
  .nav-item a {
    color: var(--color-yellow);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 700;
  }
  
  .nav-title {
    font-size: 36px;
  }
  
  .header-options {
    gap: 50px;
    padding-right:120px;
    align-self: end;
    font-size: 48px;
    font-family: var(--secondary-font);
    font-weight: 700;
    transition: transform 0.4s ease;
  }
  
  .header-options a {
    text-decoration: none;
    color: var(--color-darkgreen);
  }
  
  .header-options a:hover {
    transform: scale(1.2);
  }
  
  .header-options .active {
    background-color: var(--color-green);
    border-radius: 30px;
    border: solid 3px var(--color-orange);
    color: white;
    padding: 0px 30px;
  }
  
  footer {
    font-family: var(--secondary-font);
    background-color: var(--color-yellow);
  }
  